body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242728;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-sales{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh;
  font-size: x-large;
}

.product-sales h1{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}


.product-sales table{
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
}

.product-sales td {
  padding: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}
